<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<table>
    <tr>
        <td>
            Name
        </td>
        <td>
            Age
        </td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}" />
        <td th:text="${user.age}" />
        <td>
            <form method="GET" action="./edit">
                   <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form method="POST" action="./delete">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<a href="./add">Add</a>
<a href="./logout">Logout</a>
</body>
</html>